.links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;   
}
.links li {
    list-style-type: none;
    width: 100%;
}

.link {
    background-color: #d0d0ff;
    border: 1px solid #9595ca;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.link:hover {
    background-color: #9595ca;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #525252;
}
a:hover {
    color: white;
}
.selected {
    color:white;
}
.selected .link {
    background-color: yellowgreen;
}

.shoppingList {
    right: 0;
    bottom: 0;
}