/*http://collectui.com/designers/CatherineWang/job-listing*/
body {
    font-family: Garamond, serif;
    color: #009688;
    font-size: 18px;
}

.title {
    color: #455A64;
    text-transform: uppercase;
    padding: 20px;
}

.settings {
    text-align: center;
    color: whitesmoke;
    background: #009688;
    padding: 10px;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.link {
    padding: 15px;
}

a {
    padding: 15px;
    color: #009688;
    text-decoration: none;
}

.selected a {
    color: #455A64;
    font-weight: bold;
    border-bottom: 2px solid #455A64;
}

.white-input {
    background: transparent;
    width: 95%;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
}

.white-input::placeholder {
    color: whitesmoke;
}

input {
    font-family: Garamond, serif;
    font-size: 16px;
    color: whitesmoke;
    padding: 5px;
}

.item {
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.item-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 34px;
}

.item:hover {
    cursor: pointer;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
    margin-bottom: 5px;
}

.item-left {
    padding: 10px;
    width: 10%;
}

.rounded-image {
    border-radius: 50%;
    background: whitesmoke;
    width: 36px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20)
}

.item-center {
    width: 70%;
    padding: 10px;
}

.item-right {
    color: gray;
    font-size: 12px;
    padding: 10px;
    width: 7%;
    text-align: right;
    display: flex;
}

.footer {
    background: #455A64;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}